<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tenantId" value="igordamianihotmail.onmicrosoft.com" />
    <add key="clientId" value="143f28c9-ce7e-4c81-9e82-03b84068ee22" />
    <add key="clientSecret" value="aj5kTDctTmxoeFcybX0xe0FDXnVyXSFLK3svdTF1Z3U=" />
    <add key="appId" value="9wzdncrdqjjv" />
  </appSettings>
</configuration>