<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tenantId" value="Value1" />
    <add key="clientId" value="Value2" />
    <add key="clientSecret" value="Value2" />
  </appSettings>
</configuration>